@import "tailwindcss";

@theme {
  --font-sans: "Instrument Sans Variable", var(--font-geist-sans), ui-sans-serif,
    system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

@keyframes phoneRing {
  0% {
    rotate: 0deg;
  }

  16% {
    rotate: 10deg;
  }

  33% {
    rotate: -10deg;
  }

  50% {
    rotate: 10deg;
  }

  66% {
    rotate: 0deg;
  }
}
